# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/

# IDE config folders
.vscode/
.idea/

# macOS system file
.DS_Store

# Data files (optional - add if you don't want to push raw data)
*.csv
plots/

# Jupyter Notebook checkpoints (if you add notebooks later)
.ipynb_checkpoints/
